p, form { margin: 0; /*display: inline;*/}

body { margin: 0px 0px 0px 0px; }
html, body, input, select {
/*    color: #009530;*/
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    width:auto;
}
 td{
    padding: 5px;
}

.chart-container {
    position: relative;
    margin: auto;
    height:40vh;
    width: 80vw;
}

h1{
    text-align-last: center;
}
.dane{
    text-align: center;
    margin-bottom: 20px;
}

